<form class="auth-form col-md-12"
  (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="email"
    class="form-control" placeholder="Email address" required="" autofocus=""
      name="email" ngModel>
    <!-- formControlName="email"> -->

  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="password"
    class="form-control" placeholder="Password" required=""
      name="password" ngModel>
    <!-- formControlName="passwd"> -->

  <button class="btn btn-lg btn-primary btn-block" type="submit"
    [disabled]="false">Register</button>
</form>
